In [1]:
# create this document to work on the weather conditions of LP and VAL without having to request the info all the time
# to AEMET
# Also to prepare the data sets for analysis removing columns which are not relevant, transforming objects into numerics
# etc

In [2]:
import pandas as pd

In [3]:
LP=pd.read_csv("../output/LPoriginal.csv")
LP.columns

Index(['Unnamed: 0', 'fecha', 'indicativo', 'nombre', 'provincia', 'altitud',
       'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir',
       'velmedia', 'racha', 'horaracha', 'puerto'],
      dtype='object')

In [4]:
VAL=pd.read_csv("../output/VALoriginal.csv")
VAL.columns

Index(['Unnamed: 0', 'fecha', 'indicativo', 'nombre', 'provincia', 'altitud',
       'tmed', 'prec', 'tmin', 'tmax', 'sol', 'puerto'],
      dtype='object')

In [5]:
LP= LP.drop(['Unnamed: 0','indicativo', 'provincia', 'altitud','horatmin', 'horatmax','dir', 'velmedia', 'racha','horaracha'], axis=1)

In [6]:
LP.head(10)

,fecha,nombre,tmed,prec,tmin,tmax,puerto
0,2016-11-30,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,9","0,0","17,8","26,0",1
1,2016-12-01,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,8","0,0","17,9","25,6",1
2,2016-12-02,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","22,4","0,0","18,8","26,0",1
3,2016-12-03,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","23,7","0,0","20,2","27,2",1
4,2016-12-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,2","2,4","18,1","22,2",1
5,2016-12-05,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,8","0,0","18,9","22,7",1
6,2016-12-06,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","22,0","0,0","18,2","25,8",1
7,2016-12-07,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,4","0,0","18,8","24,1",1
8,2016-12-08,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,3","0,0","18,5","24,1",1
9,2016-12-09,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,5","0,0","19,3","23,7",1

In [7]:
VAL=VAL.drop(['Unnamed: 0', 'indicativo', 'provincia', 'sol', 'altitud'],axis=1)

In [8]:
VAL.columns

Index(['fecha', 'nombre', 'tmed', 'prec', 'tmin', 'tmax', 'puerto'], dtype='object')

In [9]:
VAL.head(20)

         fecha    nombre  tmed  prec  tmin  tmax  puerto
0   2016-11-30  VALÈNCIA  13,6   0,3  11,4  15,9       2
1   2016-12-01  VALÈNCIA  14,4   0,0  12,4  16,3       2
2   2016-12-02  VALÈNCIA  13,4   0,0   9,2  17,7       2
3   2016-12-03  VALÈNCIA  13,2   6,6   8,4  18,0       2
4   2016-12-04  VALÈNCIA  15,2   8,6  13,5  16,8       2
5   2016-12-05  VALÈNCIA  16,1  14,5  15,5  16,7       2
6   2016-12-06  VALÈNCIA  15,6   0,0  12,5  18,7       2
7   2016-12-07  VALÈNCIA  13,2   0,6   8,8  17,7       2
8   2016-12-08  VALÈNCIA  13,4   0,0   9,5  17,4       2
9   2016-12-09  VALÈNCIA  15,4   0,0  11,8  19,1       2
10  2016-12-10  VALÈNCIA  15,5   0,0  11,6  19,4       2
11  2016-12-11  VALÈNCIA  13,8   0,0   8,8  18,8       2
12  2016-12-12  VALÈNCIA  13,6   0,0   8,8  18,4       2
13  2016-12-13  VALÈNCIA  12,2   0,0   7,3  17,2       2
14  2016-12-14  VALÈNCIA  12,2   0,0   7,9  16,5       2
15  2016-12-15  VALÈNCIA  12,2   0,3   8,5  15,8       2
16  2016-12-16  VALÈNCIA  12,2  46,2   9,2  15,2       2
17  2016-12-17  VALÈNCIA  14,0  13,1  12,0  16,0       2
18  2016-12-18  VALÈNCIA  12,0  74,0  10,5  13,6       2
19  2016-12-19  VALÈNCIA  10,6   4,1  10,2  10,9       2

In [10]:
LP.columns

Index(['fecha', 'nombre', 'tmed', 'prec', 'tmin', 'tmax', 'puerto'], dtype='object')

In [11]:
LP.isnull().sum()

fecha      0
nombre     0
tmed      18
prec      13
tmin      18
tmax      18
puerto     0
dtype: int64

In [12]:
VAL.isnull().sum()

fecha     0
nombre    0
tmed      0
prec      1
tmin      0
tmax      0
puerto    0
dtype: int64

In [13]:
LP.iloc[94:100]

,fecha,nombre,tmed,prec,tmin,tmax,puerto
94,2017-03-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","17,2","0,1","15,2","19,1",1
95,2017-03-05,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",NaN,"0,0",NaN,NaN,1
96,2017-03-06,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","18,0","0,0","16,8","19,1",1
97,2017-03-07,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","18,3","0,0","16,4","20,2",1
98,2017-03-08,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,6","0,0","15,5","27,6",1
99,2017-03-09,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,4","0,0","14,0","26,7",1

In [14]:
LP.tmed.iloc[94]
# to transform objects to numeric need to change , for .

'17,2'

In [15]:
# test conversion
#conversion=float((LP.tmed.iloc[94]).replace(',','.'))
#conversion

In [16]:
LP.dtypes

fecha     object
nombre    object
tmed      object
prec      object
tmin      object
tmax      object
puerto     int64
dtype: object

In [35]:
a= float(9)
print(a==9)
print(type(a)!=float)

True
False

In [33]:
print(type(a))

<class 'float'>

In [54]:
e= float(9.57)
if type(e)== str:
    print(e.replace('.','...'))
else:
    print(e)
    
e= str(9.57)
if type(e)== str:
    print(e.replace('.','...'))
else:
    print(e)

9.57
9...57

In [ ]:

#f = lambda x: 1 if x>0 else 0 if x ==0 else -1

In [23]:
set[type(e) for e in list(LP['tmed'])]

{float, str}

In [55]:
#wrong_type_columns = ['tmed','prec','tmin','tmax']
LP['tmed'] = LP['tmed'].apply(lambda e: e.replace(',','.') if type(e)== str else e)
#LP['tmed'] = LP['tmed'].apply(lambda e: e.replace(',','.') if type(e)!= float)

#lambda <arguments> : <Return Value if condition is True> if <condition> else <Return Value if condition is False>
#LP[wrong_type_columns] = LP[wrong_type_columns].apply(lambda e: pd.to_numeric(e, errors='coerce'))

In [56]:
LP['tmed']

0       21.9
1       21.8
2       22.4
3       23.7
4       20.2
        ...
1076    20.0
1077    16.6
1078    18.2
1079    19.4
1080    19.7
Name: tmed, Length: 1081, dtype: object

In [ ]:
#e='3,5'
#print(float((e.replace(',','.'))))

In [ ]:
wrong_type_columns = ['prec','tmin','tmax']
LP[wrong_type_columns] = LP[].apply(lambda e: e.replace(',','.') if type(e)== str else e)

In [ ]:
# changing object to numeric for the relevant variables
#cols = ['tmed', 'prec', 'tmin', 'tmax']
#LP[cols] = LP[cols].apply(pd.to_numeric, errors='coerce', axis=1)
#LP.info()

In [ ]:
#LP.iloc[94:100]

In [ ]:
#df.interpolate(method ='linear', limit_direction ='forward')

In [ ]:
#cols = ['tmed', 'prec', 'tmin', 'tmax']
#VAL[cols] = VAL[cols].apply(pd.to_numeric, errors='coerce', axis=1)
#VAL.info()

In [ ]:

#print(VAL[VAL["prec"].isnull()])

In [ ]:
#VAL.head(100)