In [1]:
# create this document to work on the weather conditions of LP and VAL without having to request the info all the time
# to AEMET
# Also to prepare the data sets for analysis removing columns which are not relevant, transforming objects into numerics
# etc

In [2]:
import pandas as pd

In [3]:
LP=pd.read_csv("../output/LPoriginal.csv")
LP.columns

Index(['Unnamed: 0', 'fecha', 'indicativo', 'nombre', 'provincia', 'altitud',
       'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir',
       'velmedia', 'racha', 'horaracha', 'puerto'],
      dtype='object')

In [4]:
VAL=pd.read_csv("../output/VALoriginal.csv")
VAL.columns

Index(['Unnamed: 0', 'fecha', 'indicativo', 'nombre', 'provincia', 'altitud',
       'tmed', 'prec', 'tmin', 'tmax', 'sol', 'puerto'],
      dtype='object')

In [5]:
LP= LP.drop(['Unnamed: 0','indicativo', 'provincia', 'altitud','horatmin', 'horatmax','dir', 'velmedia', 'racha','horaracha'], axis=1)

In [6]:
LP.head()

,fecha,nombre,tmed,prec,tmin,tmax,puerto
0,2016-11-30,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,9","0,0","17,8","26,0",1
1,2016-12-01,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,8","0,0","17,9","25,6",1
2,2016-12-02,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","22,4","0,0","18,8","26,0",1
3,2016-12-03,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","23,7","0,0","20,2","27,2",1
4,2016-12-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,2","2,4","18,1","22,2",1

In [7]:
VAL=VAL.drop(['Unnamed: 0', 'indicativo', 'provincia', 'sol', 'altitud'],axis=1)

In [8]:
VAL.columns

Index(['fecha', 'nombre', 'tmed', 'prec', 'tmin', 'tmax', 'puerto'], dtype='object')

In [9]:
VAL.head()

        fecha    nombre  tmed prec  tmin  tmax  puerto
0  2016-11-30  VALÈNCIA  13,6  0,3  11,4  15,9       2
1  2016-12-01  VALÈNCIA  14,4  0,0  12,4  16,3       2
2  2016-12-02  VALÈNCIA  13,4  0,0   9,2  17,7       2
3  2016-12-03  VALÈNCIA  13,2  6,6   8,4  18,0       2
4  2016-12-04  VALÈNCIA  15,2  8,6  13,5  16,8       2

In [10]:
LP.columns

Index(['fecha', 'nombre', 'tmed', 'prec', 'tmin', 'tmax', 'puerto'], dtype='object')

In [11]:
LP.isnull().sum()

fecha      0
nombre     0
tmed      18
prec      13
tmin      18
tmax      18
puerto     0
dtype: int64

In [12]:
VAL.isnull().sum()

fecha     0
nombre    0
tmed      0
prec      1
tmin      0
tmax      0
puerto    0
dtype: int64

In [13]:
LP.iloc[94:100]

,fecha,nombre,tmed,prec,tmin,tmax,puerto
94,2017-03-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","17,2","0,1","15,2","19,1",1
95,2017-03-05,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",NaN,"0,0",NaN,NaN,1
96,2017-03-06,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","18,0","0,0","16,8","19,1",1
97,2017-03-07,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","18,3","0,0","16,4","20,2",1
98,2017-03-08,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,6","0,0","15,5","27,6",1
99,2017-03-09,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,4","0,0","14,0","26,7",1

In [14]:
LP.tmed.iloc[94]
# to transform objects to numeric need to change , for .

'17,2'

In [22]:
# first convert , into . to then use numeric function in object type
LP['tmed'] = LP['tmed'].apply(lambda e: e.replace(',','.') if type(e)== str else e)

In [23]:
LP['prec'] = LP['prec'].apply(lambda e: e.replace(',','.') if type(e)== str else e)
LP['tmin'] = LP['tmin'].apply(lambda e: e.replace(',','.') if type(e)== str else e)
LP['tmax'] = LP['tmax'].apply(lambda e: e.replace(',','.') if type(e)== str else e)

In [24]:
cols = ['tmed', 'prec', 'tmin', 'tmax']
LP[cols] = LP[cols].apply(pd.to_numeric, errors='coerce', axis=1)
LP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 7 columns):
fecha     1081 non-null object
nombre    1081 non-null object
tmed      1063 non-null float64
prec      1068 non-null float64
tmin      1063 non-null float64
tmax      1063 non-null float64
puerto    1081 non-null int64
dtypes: float64(4), int64(1), object(2)
memory usage: 59.2+ KB

In [25]:
LP.iloc[94:100]

,fecha,nombre,tmed,prec,tmin,tmax,puerto
94,2017-03-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",17.2,0.1,15.2,19.1,1
95,2017-03-05,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",NaN,0.0,NaN,NaN,1
96,2017-03-06,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",18.0,0.0,16.8,19.1,1
97,2017-03-07,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",18.3,0.0,16.4,20.2,1
98,2017-03-08,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",21.6,0.0,15.5,27.6,1
99,2017-03-09,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",20.4,0.0,14.0,26.7,1

In [26]:
LP= LP.interpolate(method ='linear', limit_direction ='forward') 
LP.iloc[94:100]

,fecha,nombre,tmed,prec,tmin,tmax,puerto
94,2017-03-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",17.2,0.1,15.2,19.1,1
95,2017-03-05,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",17.6,0.0,16.0,19.1,1
96,2017-03-06,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",18.0,0.0,16.8,19.1,1
97,2017-03-07,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",18.3,0.0,16.4,20.2,1
98,2017-03-08,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",21.6,0.0,15.5,27.6,1
99,2017-03-09,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",20.4,0.0,14.0,26.7,1

In [27]:
print(LP.isnull().sum())

fecha     0
nombre    0
tmed      0
prec      0
tmin      0
tmax      0
puerto    0
dtype: int64

In [28]:
LP.dtypes

fecha      object
nombre     object
tmed      float64
prec      float64
tmin      float64
tmax      float64
puerto      int64
dtype: object

In [29]:
VAL['tmed'] = VAL['tmed'].apply(lambda e: e.replace(',','.') if type(e)== str else e)
VAL['prec'] = VAL['prec'].apply(lambda e: e.replace(',','.') if type(e)== str else e)
VAL['tmin'] = VAL['tmin'].apply(lambda e: e.replace(',','.') if type(e)== str else e)
VAL['tmax'] = VAL['tmax'].apply(lambda e: e.replace(',','.') if type(e)== str else e)

In [30]:
print(VAL[VAL["prec"].isnull()])

           fecha    nombre  tmed prec tmin  tmax  puerto
1103  2019-12-08  VALÈNCIA  13.1  NaN  8.1  18.1       2

In [31]:
cols = ['tmed', 'prec', 'tmin', 'tmax']
VAL[cols] = VAL[cols].apply(pd.to_numeric, errors='coerce', axis=1)
VAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 7 columns):
fecha     1104 non-null object
nombre    1104 non-null object
tmed      1104 non-null float64
prec      1081 non-null float64
tmin      1104 non-null float64
tmax      1104 non-null float64
puerto    1104 non-null int64
dtypes: float64(4), int64(1), object(2)
memory usage: 60.5+ KB

In [32]:
VAL= VAL.interpolate(method ='linear', limit_direction ='forward') 
VAL.iloc

In [35]:
print(VAL.iloc[1103])

fecha     2019-12-08
nombre      VALÈNCIA
tmed            13.1
prec               0
tmin             8.1
tmax            18.1
puerto             2
Name: 1103, dtype: object

In [36]:
VAL.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1104 entries, 0 to 1103
Data columns (total 7 columns):
fecha     1104 non-null object
nombre    1104 non-null object
tmed      1104 non-null float64
prec      1104 non-null float64
tmin      1104 non-null float64
tmax      1104 non-null float64
puerto    1104 non-null int64
dtypes: float64(4), int64(1), object(2)
memory usage: 60.5+ KB

In [37]:
VAL.tail(10)

           fecha    nombre  tmed  prec  tmin  tmax  puerto
1094  2019-11-29  VALÈNCIA  19.3   0.0  15.8  22.8       2
1095  2019-11-30  VALÈNCIA  17.6   0.0  12.0  23.3       2
1096  2019-12-01  VALÈNCIA  16.1   0.0  11.8  20.4       2
1097  2019-12-02  VALÈNCIA  13.4  23.1  12.5  14.4       2
1098  2019-12-03  VALÈNCIA  11.7  19.4  10.7  12.7       2
1099  2019-12-04  VALÈNCIA  12.6  29.3  10.5  14.7       2
1100  2019-12-05  VALÈNCIA  12.8  15.2  11.0  14.5       2
1101  2019-12-06  VALÈNCIA  13.4   0.0  11.7  15.1       2
1102  2019-12-07  VALÈNCIA  13.4   0.0   8.5  18.4       2
1103  2019-12-08  VALÈNCIA  13.1   0.0   8.1  18.1       2