In [1]:
# transform csv coming from original excel

In [2]:
import pandas as pd
import datetime

In [3]:
LP_buque=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_BUQUE.csv")
LP_buque_exe=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_BUQUE_EXENTO.csv")
LP_movimiento=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_MOVIMIENTO.csv")
LP_sentido=pd.read_csv("../input/DATOS_BD_LAS_PALMAS_SENTIDO.csv")

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0,24,38) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
LP_buque_exe.head()

,BuqueExentoId,BuqueId,Capitan,FechaDesde,FechaHasta
0,17,439,Capitán Spabunker,2017-02-01 00:00:00.000,2027-06-02 00:00:00.000
1,18,258,Juan Carlos Pérez Suárez,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000
2,19,263,JUAN CARLOS PEREZ SUAREZ,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000
3,20,258,Marco Antonio Badía Bodornau,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000
4,21,263,Marco Antonio Badía Bodornau,2017-02-15 00:00:00.000,2019-02-20 00:00:00.000

In [5]:
LP_buque_exe.columns

Index(['BuqueExentoId', 'BuqueId', 'Capitan', 'FechaDesde', 'FechaHasta'], dtype='object')

In [6]:
LP_buque_exe= LP_buque_exe.drop(['Capitan','FechaDesde', 'FechaHasta'], axis=1)

In [7]:
LP_buque_exe.columns

Index(['BuqueExentoId', 'BuqueId'], dtype='object')

In [8]:
LP_movimiento.head()

,MovimientoId,ServicioEspecial,FechaPeticion,HoraPeticion,FechaServicio,HoraServicio,VientoDireccionId,VientoVelocidad,SentidoId,BuqueId,...,NumeroFondeo,GastosAdministrativosPorcentaje,GastosAdministrativosFijo,ImporteGastosAdministrativos,TipoCambio,ImporteTasas,ImporteDisponibilidadPractico,ImportePermanenciaPractico,ImporteDisponibilidadPracticoGA,ImportePermanenciaPracticoGA
0,807,0.0,2017-03-15 00:00:00.000,2017-03-15 17:30:00.000,2017-03-14 00:00:00.000,2017-03-14 18:10:00.000,1.0,15.0,1.0,259.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
1,808,0.0,2017-03-14 00:00:00.000,2017-03-14 22:00:00.000,2017-03-14 00:00:00.000,2017-03-14 22:27:00.000,1.0,15.0,1.0,258.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
2,809,0.0,2017-03-15 00:00:00.000,2017-03-15 07:00:00.000,2017-03-14 00:00:00.000,2017-03-14 22:32:00.000,1.0,15.0,1.0,588.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
3,810,0.0,2017-03-14 00:00:00.000,2017-03-14 18:30:00.000,2017-03-14 00:00:00.000,2017-03-14 18:40:00.000,1.0,15.0,1.0,263.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0
4,811,0.0,2017-03-14 00:00:00.000,2017-03-14 20:00:00.000,2017-03-14 00:00:00.000,2017-03-14 20:25:00.000,1.0,15.0,1.0,587.0,...,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0

In [9]:
LP_movimiento.columns

Index(['MovimientoId', 'ServicioEspecial', 'FechaPeticion', 'HoraPeticion',
       'FechaServicio', 'HoraServicio', 'VientoDireccionId', 'VientoVelocidad',
       'SentidoId', 'BuqueId', 'BuqueExentoId', 'GT', 'CaladoProa',
       'CaladoPopa', 'NorayOrigen1Id', 'NorayOrigen2Id', 'TipoAtraqueOrigenId',
       'NorayDestino1Id', 'NorayDestino2Id', 'TipoAtraqueDestinoId',
       'NumeroRemolcadores', 'ConsignatarioId', 'ObservacionesFacturacion',
       'ObservacionesPractico', 'ObservacionesCapitan', 'RecargoId',
       'ArchivoFirmaCapitan', 'Importe', 'Validado', 'FacturaId', 'Finalizado',
       'NavieraId', 'Escala', 'TipoOperacionId', 'Bonificaciones',
       'ImporteBonificaciones', 'RemolcadoresSolicitados', 'DemoraId',
       'MotivoDemora', 'ImporteBase', 'NumeroAtraque', 'NumeroAtraqueDestino',
       'FechaFinalizacion', 'HoraFinalizacion', 'ExentoAmarres',
       'NumeroFondeo', 'GastosAdministrativosPorcentaje',
       'GastosAdministrativosFijo', 'ImporteGastosAdministrativos',
       'TipoCambio', 'ImporteTasas', 'ImporteDisponibilidadPractico',
       'ImportePermanenciaPractico', 'ImporteDisponibilidadPracticoGA',
       'ImportePermanenciaPracticoGA'],
      dtype='object')

In [10]:

LP_movimiento= LP_movimiento.drop(['ServicioEspecial','VientoDireccionId', 'GT','CaladoProa',
       'CaladoPopa', 'NorayOrigen1Id', 'NorayOrigen2Id', 'TipoAtraqueOrigenId',
       'NorayDestino1Id', 'NorayDestino2Id', 'TipoAtraqueDestinoId',
       'NumeroRemolcadores', 'ConsignatarioId', 'ObservacionesFacturacion',
       'ObservacionesPractico', 'ObservacionesCapitan', 'RecargoId',
       'ArchivoFirmaCapitan', 'Importe', 'Validado', 'FacturaId', 'Finalizado',
       'NavieraId', 'TipoOperacionId', 'Bonificaciones',
       'ImporteBonificaciones', 'RemolcadoresSolicitados', 
       'MotivoDemora', 'ImporteBase', 'NumeroAtraque', 'NumeroAtraqueDestino', 'ExentoAmarres',
       'NumeroFondeo', 'GastosAdministrativosPorcentaje',
       'GastosAdministrativosFijo', 'ImporteGastosAdministrativos',
       'TipoCambio', 'ImporteTasas', 'ImporteDisponibilidadPractico',
       'ImportePermanenciaPractico', 'ImporteDisponibilidadPracticoGA',
       'ImportePermanenciaPracticoGA'], axis=1)

In [11]:
LP_movimiento.columns

Index(['MovimientoId', 'FechaPeticion', 'HoraPeticion', 'FechaServicio',
       'HoraServicio', 'VientoVelocidad', 'SentidoId', 'BuqueId',
       'BuqueExentoId', 'Escala', 'DemoraId', 'FechaFinalizacion',
       'HoraFinalizacion'],
      dtype='object')

In [12]:
LP_movimiento.head()

,MovimientoId,FechaPeticion,HoraPeticion,FechaServicio,HoraServicio,VientoVelocidad,SentidoId,BuqueId,BuqueExentoId,Escala,DemoraId,FechaFinalizacion,HoraFinalizacion
0,807,2017-03-15 00:00:00.000,2017-03-15 17:30:00.000,2017-03-14 00:00:00.000,2017-03-14 18:10:00.000,15.0,1.0,259.0,NaN,201701994.0,NaN,2017-03-14 00:00:00.000,2017-03-20 18:25:00.000
1,808,2017-03-14 00:00:00.000,2017-03-14 22:00:00.000,2017-03-14 00:00:00.000,2017-03-14 22:27:00.000,15.0,1.0,258.0,18.0,201701963.0,NaN,2017-03-15 00:00:00.000,2017-03-21 00:11:00.000
2,809,2017-03-15 00:00:00.000,2017-03-15 07:00:00.000,2017-03-14 00:00:00.000,2017-03-14 22:32:00.000,15.0,1.0,588.0,NaN,201702035.0,NaN,2017-03-14 00:00:00.000,2017-03-15 23:26:00.000
3,810,2017-03-14 00:00:00.000,2017-03-14 18:30:00.000,2017-03-14 00:00:00.000,2017-03-14 18:40:00.000,15.0,1.0,263.0,NaN,201701959.0,NaN,2017-03-14 00:00:00.000,2017-03-20 18:50:00.000
4,811,2017-03-14 00:00:00.000,2017-03-14 20:00:00.000,2017-03-14 00:00:00.000,2017-03-14 20:25:00.000,15.0,1.0,587.0,NaN,201701911.0,NaN,2017-03-14 00:00:00.000,2017-03-14 21:10:00.000

In [13]:
LP_sentido.head()

,SentidoId,Nombre,Codigo,EsManiobra,NombreIngles,FactorManiobra,AplicaDescuento
0,1,Entrada,E,0,Arrival,0.0,0
1,2,Movimiento interior,M,0,Inner Shifting,0.0,0
2,3,Salida,S,0,Departure,0.0,0

In [14]:
LP_sentido.columns

Index(['SentidoId', 'Nombre', 'Codigo', 'EsManiobra', 'NombreIngles',
       'FactorManiobra', 'AplicaDescuento'],
      dtype='object')

In [15]:
LP_sentido= LP_sentido.drop(['Codigo', 'EsManiobra', 'NombreIngles',
       'FactorManiobra', 'AplicaDescuento'], axis=1)

In [16]:
LP_sentido.columns

Index(['SentidoId', 'Nombre'], dtype='object')

In [17]:
LP_sentido.Nombre.unique()

array(['Entrada', 'Movimiento interior', 'Salida'], dtype=object)

In [18]:
LP_buque.head()

,BuqueId,Nombre,IMO,MMSI,DistintivoLLamada,NacionalidadId,TipoImpuestoId,Descuento,TipoBuqueId,ConsignatarioId,...,FechaAlta,FechaActualizacion,Velocidad,RemolcadoresRecomendados,TarifaEspecifica,NumeroTimones,AnguloMaximoTimon,SuperficieVelica,PuertoMatriculaId,TipoPropulsionId
0,249,FORTUNY,9216585,NaN,EBTO,209.0,1.0,0.0,43.0,97.0,...,2016-12-26 12:14:23.587,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN,NaN
1,250,AIDAPRIMA,9636955,NaN,IBGU,110.0,1.0,0.0,95.0,97.0,...,2016-12-26 12:14:33.000,2018-04-20 21:05:30.147,21.4,0.0,0.0,NaN,0.0,0.0,NaN,NaN
2,252,VERONA,9190858,NaN,LARI7,166.0,1.0,0.0,94.0,100.0,...,2016-12-26 12:17:30.443,2018-10-04 09:42:14.537,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
3,253,VOLCAN DEL TEIDE,9506289,NaN,EAIE,209.0,1.0,30.0,84.0,105.0,...,2016-12-27 13:20:43.000,2019-09-27 16:54:04.710,0.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN
4,254,CIUDAD DE CADIZ,9304631,NaN,5BLJ4,59.0,1.0,0.0,84.0,145.0,...,2016-12-27 15:23:48.000,2019-06-07 13:32:24.117,22.0,0.0,0.0,NaN,0.0,0.0,NaN,NaN

In [19]:
LP_buque.columns

Index(['BuqueId', 'Nombre', 'IMO', 'MMSI', 'DistintivoLLamada',
       'NacionalidadId', 'TipoImpuestoId', 'Descuento', 'TipoBuqueId',
       'ConsignatarioId', 'NavieraId', 'GT', 'Eslora', 'Manga', 'Guinda',
       'Puntal', 'CaladoVerano', 'PropulsorProaNumero',
       'PropulsorProaPotencia', 'PropulsorPopaNumero', 'PropulsorPopaPotencia',
       'MotorPrincipalNumero', 'MotorPrincipalPotencia', 'HeliceProaNumero',
       'HeliceProaTipoId', 'HeliceProaGiroId', 'EfectoHeliceId', 'TimonId',
       'TipoMaquinaId', 'Construccion', 'Observaciones',
       'ObservacionesSeguridad', 'FechaAlta', 'FechaActualizacion',
       'Velocidad', 'RemolcadoresRecomendados', 'TarifaEspecifica',
       'NumeroTimones', 'AnguloMaximoTimon', 'SuperficieVelica',
       'PuertoMatriculaId', 'TipoPropulsionId'],
      dtype='object')

In [20]:
LP_buque= LP_buque.drop(['MMSI', 'DistintivoLLamada',
       'TipoImpuestoId', 'Descuento',
       'ConsignatarioId', 'NavieraId', 'Eslora', 'Manga', 'Guinda',
       'Puntal', 'CaladoVerano', 'PropulsorProaNumero',
       'PropulsorProaPotencia', 'PropulsorPopaNumero', 'PropulsorPopaPotencia',
       'MotorPrincipalNumero', 'MotorPrincipalPotencia', 'HeliceProaNumero',
       'HeliceProaTipoId', 'HeliceProaGiroId', 'EfectoHeliceId', 'TimonId',
       'TipoMaquinaId', 'Observaciones',
       'ObservacionesSeguridad', 'FechaAlta', 'FechaActualizacion',
       'Velocidad', 'RemolcadoresRecomendados', 'TarifaEspecifica',
       'NumeroTimones', 'AnguloMaximoTimon', 'SuperficieVelica',
       'PuertoMatriculaId', 'TipoPropulsionId'], axis=1)

In [21]:
LP_buque.columns

Index(['BuqueId', 'Nombre', 'IMO', 'NacionalidadId', 'TipoBuqueId', 'GT',
       'Construccion'],
      dtype='object')

In [22]:
LP_buque.dtypes

BuqueId            object
Nombre             object
IMO                object
NacionalidadId    float64
TipoBuqueId       float64
GT                float64
Construccion       object
dtype: object

In [23]:
LP_movimiento.dtypes

MovimientoId          object
FechaPeticion         object
HoraPeticion          object
FechaServicio         object
HoraServicio          object
VientoVelocidad      float64
SentidoId            float64
BuqueId              float64
BuqueExentoId        float64
Escala               float64
DemoraId             float64
FechaFinalizacion     object
HoraFinalizacion      object
dtype: object

In [24]:
LP_buque_exe.dtypes

BuqueExentoId    int64
BuqueId          int64
dtype: object

In [25]:

LP_sentido.dtypes

SentidoId     int64
Nombre       object
dtype: object

In [26]:
LP_buque.dtypes

BuqueId            object
Nombre             object
IMO                object
NacionalidadId    float64
TipoBuqueId       float64
GT                float64
Construccion       object
dtype: object

In [27]:
LP_buque

,BuqueId,Nombre,IMO,NacionalidadId,TipoBuqueId,GT,Construccion
0,249,FORTUNY,9216585,209.0,43.0,26916.0,2001
1,250,AIDAPRIMA,9636955,110.0,95.0,125572.0,01/01/2015
2,252,VERONA,9190858,166.0,94.0,37237.0,NaN
3,253,VOLCAN DEL TEIDE,9506289,209.0,84.0,29514.0,01/01/2010
4,254,CIUDAD DE CADIZ,9304631,59.0,84.0,26302.0,01/01/2004
...,...,...,...,...,...,...,...
6846,8579,OINOUSSIAN STAR,9827578,139.0,69.0,29544.0,01/10/2018
6847,8580,KING LOONG,9304124,100.0,81.0,40080.0,11/08/2006
6848,8581,OLYMPIC PEGASUS,9545728,139.0,56.0,32983.0,2011
6849,8582,GENCO LOIRE,9511820,139.0,81.0,31117.0,01/01/2009
6850,8583,LORELEI,9314179,139.0,88.0,42531.0,01/01/2007

In [28]:
# VAL transformations **************************
# ******************

In [29]:
VAL_buque=pd.read_csv("../input/DATOS_BD_VALENCIA_BUQUE.csv")
VAL_buque

VAL_movimiento=pd.read_csv("../input/DATOS_BD_VALENCIA_MOVIMIENTOS.csv")
VAL_movimiento
VAL_sentido=pd.read_csv("../input/DATOS_BD_VALENCIA_SENTIDO.csv")
VAL_sentido

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3051: DtypeWarning: Columns (0,15,22) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,SentidoId,Nombre,Codigo,EsManiobra,NombreIngles,FactorManiobra,AplicaDescuento
0,1,Entrada,E,0,NaN,0.0,0
1,2,Movimiento interior,M,0,NaN,0.0,0
2,3,Salida,S,0,NaN,0.0,0
3,4,Fondeo,F,0,NaN,0.0,0
4,7,Salida Fondeo,C,0,NaN,0.0,0
5,9,Deriva,K,0,NaN,0.0,0

In [30]:
VAL_buque_exe=pd.read_csv("../input/DATOS_BD_VALENCIA_BUQUE_EXENTO.csv",encoding = "ISO-8859-1")
VAL_buque_exe.head()

,BuqueExentoId,BuqueId,Capitan,FechaDesde,FechaHasta
0,3,122,OSCAR MILLARES,2016-04-13 00:00:00.000,2018-04-13 00:00:00.000
1,4,123,GIUSEPPE TIZZANO,2017-07-15 00:00:00.000,2019-01-19 00:00:00.000
2,5,123,VICENZO ESPOSITO,2015-12-19 00:00:00.000,2020-12-19 00:00:00.000
3,6,123,DOMENICO COMISO,2016-09-05 00:00:00.000,2018-09-05 00:00:00.000
4,7,124,J. CARLOS CANOVAS ROMERO,2016-01-18 00:00:00.000,2020-01-18 00:00:00.000

In [31]:
VAL_buque_exe= VAL_buque_exe.drop(['Capitan','FechaDesde', 'FechaHasta'], axis=1)

In [32]:

VAL_movimiento= VAL_movimiento.drop(['ServicioEspecial','VientoDireccionId', 'GT','CaladoProa',
       'CaladoPopa', 'NorayOrigen1Id', 'NorayOrigen2Id', 'TipoAtraqueOrigenId',
       'NorayDestino1Id', 'NorayDestino2Id', 'TipoAtraqueDestinoId',
       'NumeroRemolcadores', 'ConsignatarioId', 'ObservacionesFacturacion',
       'ObservacionesPractico', 'ObservacionesCapitan', 'RecargoId',
       'ArchivoFirmaCapitan', 'Importe', 'Validado', 'FacturaId', 'Finalizado',
       'NavieraId', 'TipoOperacionId', 'Bonificaciones',
       'ImporteBonificaciones', 'RemolcadoresSolicitados', 
       'MotivoDemora', 'ImporteBase', 'NumeroAtraque', 'NumeroAtraqueDestino', 'ExentoAmarres',
       'NumeroFondeo', 'GastosAdministrativosPorcentaje',
       'GastosAdministrativosFijo', 'ImporteGastosAdministrativos',
       'TipoCambio', 'ImporteTasas', 'ImporteDisponibilidadPractico',
       'ImportePermanenciaPractico', 'ImporteDisponibilidadPracticoGA',
       'ImportePermanenciaPracticoGA'], axis=1)

In [33]:
VAL_sentido= VAL_sentido.drop(['Codigo', 'EsManiobra', 'NombreIngles',
       'FactorManiobra', 'AplicaDescuento'], axis=1)

In [34]:
VAL_buque= VAL_buque.drop(['MMSI', 'DistintivoLLamada',
       'TipoImpuestoId', 'Descuento',
       'ConsignatarioId', 'NavieraId', 'Eslora', 'Manga', 'Guinda',
       'Puntal', 'CaladoVerano', 'PropulsorProaNumero',
       'PropulsorProaPotencia', 'PropulsorPopaNumero', 'PropulsorPopaPotencia',
       'MotorPrincipalNumero', 'MotorPrincipalPotencia', 'HeliceProaNumero',
       'HeliceProaTipoId', 'HeliceProaGiroId', 'EfectoHeliceId', 'TimonId',
       'TipoMaquinaId', 'Observaciones',
       'ObservacionesSeguridad', 'FechaAlta', 'FechaActualizacion',
       'Velocidad', 'RemolcadoresRecomendados', 'TarifaEspecifica',
       'NumeroTimones', 'AnguloMaximoTimon', 'SuperficieVelica',
       'PuertoMatriculaId', 'TipoPropulsionId'], axis=1)

In [35]:
VAL_sentido.head()

   SentidoId               Nombre
0          1              Entrada
1          2  Movimiento interior
2          3               Salida
3          4               Fondeo
4          7        Salida Fondeo

In [36]:
LP_sentido.head()

   SentidoId               Nombre
0          1              Entrada
1          2  Movimiento interior
2          3               Salida

In [37]:
VAL_movimiento.head(20)

,MovimientoId,FechaPeticion,HoraPeticion,FechaServicio,HoraServicio,VientoVelocidad,SentidoId,BuqueId,BuqueExentoId,Escala,DemoraId,FechaFinalizacion,HoraFinalizacion
0,840,2016-11-30 00:00:00.000,2016-11-30 17:26:00.000,2016-11-30 00:00:00.000,2016-11-30 17:26:00.000,25.0,1.0,283.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 18:19:00.000
1,841,2016-11-30 00:00:00.000,2016-11-30 17:51:00.000,2016-11-30 00:00:00.000,2016-11-30 17:55:00.000,25.0,7.0,277.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 18:20:00.000
2,842,2016-11-30 00:00:00.000,2016-11-30 18:45:00.000,2016-11-30 00:00:00.000,2016-11-30 18:28:00.000,5.0,1.0,128.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 18:52:00.000
3,843,2016-11-30 00:00:00.000,2016-11-30 19:30:00.000,2016-11-30 00:00:00.000,2016-11-30 19:04:00.000,5.0,1.0,152.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 19:52:00.000
4,844,2016-11-30 00:00:00.000,2016-11-30 19:00:00.000,2016-11-30 00:00:00.000,2016-11-30 18:31:00.000,5.0,1.0,123.0,6.0,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 18:55:00.000
5,845,2016-11-30 00:00:00.000,2016-11-30 19:45:00.000,2016-11-30 00:00:00.000,2016-11-30 19:18:00.000,5.0,1.0,125.0,10.0,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 19:51:00.000
6,846,2016-11-30 00:00:00.000,2016-11-30 20:23:00.000,2016-11-30 00:00:00.000,2016-11-30 20:23:00.000,5.0,2.0,127.0,13.0,1.201605e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 20:18:00.000
7,847,2016-11-30 00:00:00.000,2016-11-30 20:20:00.000,2016-11-30 00:00:00.000,2016-11-30 16:42:00.000,5.0,3.0,264.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 17:20:00.000
8,848,2016-11-30 00:00:00.000,2016-11-30 18:24:00.000,2016-11-30 00:00:00.000,2016-11-30 18:41:00.000,10.0,1.0,282.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 19:28:00.000
9,849,2016-11-30 00:00:00.000,2016-11-30 21:10:00.000,2016-11-30 00:00:00.000,2016-11-30 21:32:00.000,10.0,1.0,263.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-01 22:02:00.000
10,850,2016-11-30 00:00:00.000,2016-11-30 21:32:00.000,2016-11-30 00:00:00.000,2016-11-30 21:52:00.000,10.0,1.0,288.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 22:32:00.000
11,851,2016-11-30 00:00:00.000,2016-11-30 20:20:00.000,2016-11-30 00:00:00.000,2016-11-30 20:20:00.000,10.0,3.0,280.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 20:59:00.000
12,852,2016-11-30 00:00:00.000,2016-11-30 22:30:00.000,2016-11-30 00:00:00.000,2016-11-30 22:30:00.000,9.0,3.0,128.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 22:50:00.000
13,853,2016-11-30 00:00:00.000,2016-11-30 18:00:00.000,2016-11-30 00:00:00.000,2016-11-30 22:56:00.000,15.0,1.0,293.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 23:34:00.000
14,854,2016-11-30 00:00:00.000,2016-11-30 22:20:00.000,2016-11-30 00:00:00.000,2016-11-30 22:20:00.000,15.0,3.0,123.0,6.0,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 22:40:00.000
15,855,2016-11-30 00:00:00.000,2016-11-30 23:22:00.000,2016-11-30 00:00:00.000,2016-11-30 23:22:00.000,10.0,3.0,152.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 23:39:00.000
16,856,2016-11-30 00:00:00.000,2016-11-30 23:37:00.000,2016-11-30 00:00:00.000,2016-11-30 23:37:00.000,15.0,3.0,218.0,NaN,1.201606e+09,22.0,2016-12-01 00:00:00.000,2016-12-30 00:04:00.000
17,857,2016-11-30 00:00:00.000,2016-11-30 23:59:00.000,2016-12-01 00:00:00.000,2016-12-01 00:20:00.000,5.0,1.0,297.0,NaN,1.201606e+09,NaN,2016-12-01 00:00:00.000,2016-12-15 01:04:00.000
18,858,2016-12-01 00:00:00.000,2016-12-01 01:05:00.000,2016-12-01 00:00:00.000,2016-12-01 01:05:00.000,14.0,3.0,185.0,NaN,1.201606e+09,NaN,2016-12-01 00:00:00.000,2016-12-01 02:21:00.000
19,859,2016-11-30 00:00:00.000,2016-11-30 01:00:00.000,2016-12-01 00:00:00.000,2016-12-01 03:17:00.000,13.0,2.0,139.0,NaN,1.201606e+09,NaN,2016-12-01 00:00:00.000,2016-12-30 03:57:00.000

In [38]:
VAL_movimiento.dtypes

MovimientoId          object
FechaPeticion         object
HoraPeticion          object
FechaServicio         object
HoraServicio          object
VientoVelocidad      float64
SentidoId            float64
BuqueId              float64
BuqueExentoId        float64
Escala               float64
DemoraId             float64
FechaFinalizacion     object
HoraFinalizacion      object
dtype: object

In [39]:
VAL_movimiento[VAL_movimiento.SentidoId==4].count()

MovimientoId         115
FechaPeticion        115
HoraPeticion         115
FechaServicio        115
HoraServicio         115
VientoVelocidad      115
SentidoId            115
BuqueId              115
BuqueExentoId          2
Escala               115
DemoraId               0
FechaFinalizacion     64
HoraFinalizacion      64
dtype: int64

In [40]:
VAL_movimiento[VAL_movimiento.SentidoId==7].count()

MovimientoId         492
FechaPeticion        492
HoraPeticion         492
FechaServicio        492
HoraServicio         492
VientoVelocidad      492
SentidoId            492
BuqueId              492
BuqueExentoId         21
Escala               492
DemoraId              89
FechaFinalizacion    492
HoraFinalizacion     492
dtype: int64

In [41]:
VAL_movimiento.Escala

0        1.201606e+09
1        1.201606e+09
2        1.201606e+09
3        1.201606e+09
4        1.201606e+09
             ...
43697    1.201906e+09
43698    1.201906e+09
43699    1.201906e+09
43700    1.201906e+09
43701    1.201906e+09
Name: Escala, Length: 43702, dtype: float64

In [42]:
#VAL_movimiento.Escala.iloc[4]

In [43]:
#VAL_movimiento.Escala= VAL_movimiento.Escala.apply(lambda e: int(e))
#VAL['tmed'] = VAL['tmed'].apply(lambda e: e.replace(',','.') if type(e)== str else e)

In [44]:
VAL_buque.dtypes

BuqueId            object
Nombre             object
IMO                object
NacionalidadId    float64
TipoBuqueId       float64
GT                float64
Construccion       object
dtype: object

In [45]:
VAL_movimiento.dtypes

MovimientoId          object
FechaPeticion         object
HoraPeticion          object
FechaServicio         object
HoraServicio          object
VientoVelocidad      float64
SentidoId            float64
BuqueId              float64
BuqueExentoId        float64
Escala               float64
DemoraId             float64
FechaFinalizacion     object
HoraFinalizacion      object
dtype: object

In [46]:
VAL_buque.head()

,BuqueId,Nombre,IMO,NacionalidadId,TipoBuqueId,GT,Construccion
0,116,GRANDE COLONIA,9318527,110.0,57.0,38651.0,2007
1,117,DENIA CIUTAT CREATIVA,9019054,59.0,43.0,19308.0,1992
2,118,STAR COMET,9242596,10.0,48.0,6277.0,2002
3,119,JEWEL OF THE SEAS,9228356,17.0,44.0,90090.0,2004
4,120,ZIM CONSTANZA,9471202,109.0,48.0,40542.0,2010

In [47]:
VAL_buque['BuqueId'] = VAL_buque['BuqueId'].astype('str')

In [48]:
VAL_buque.dtypes

BuqueId            object
Nombre             object
IMO                object
NacionalidadId    float64
TipoBuqueId       float64
GT                float64
Construccion       object
dtype: object

In [49]:
len(list([type(e) for e in VAL_buque.BuqueId if type(e)==str]))

2075

In [50]:
VAL_buque.shape

(2075, 7)

In [51]:
VAL_movimiento.dtypes
VAL_movimiento.BuqueId=VAL_movimiento.BuqueId.apply(lambda e: str(e) )

In [52]:
len(list([type(e) for e in VAL_movimiento.BuqueId if type(e)==str]))

43702

In [53]:
VAL_sentido.dtypes

SentidoId     int64
Nombre       object
dtype: object

In [54]:
VAL_sentido.SentidoId

0    1
1    2
2    3
3    4
4    7
5    9
Name: SentidoId, dtype: int64

In [55]:
VAL_movimiento.SentidoId

0        1.0
1        7.0
2        1.0
3        1.0
4        1.0
        ...
43697    3.0
43698    3.0
43699    3.0
43700    3.0
43701    3.0
Name: SentidoId, Length: 43702, dtype: float64

In [56]:
VAL_movimiento.SentidoId.isnull().count()

43702

In [57]:
VAL_movimiento.SentidoId.head()

0    1.0
1    7.0
2    1.0
3    1.0
4    1.0
Name: SentidoId, dtype: float64

In [58]:
VAL_movimiento.isnull().sum()

MovimientoId            16
FechaPeticion            2
HoraPeticion            21
FechaServicio            2
HoraServicio             2
VientoVelocidad         70
SentidoId                9
BuqueId                  0
BuqueExentoId        37202
Escala                  44
DemoraId             36530
FechaFinalizacion      147
HoraFinalizacion       146
dtype: int64

In [59]:
#VAL_movimiento.SentidoId = VAL_movimiento.SentidoId.apply(pd.to_numeric, errors='coerce', axis=1)
VAL_movimiento.SentidoId  = VAL_movimiento.SentidoId.apply(lambda e: pd.to_numeric(e, errors='coerce'))

In [60]:
VAL_movimiento.fillna(0)

,MovimientoId,FechaPeticion,HoraPeticion,FechaServicio,HoraServicio,VientoVelocidad,SentidoId,BuqueId,BuqueExentoId,Escala,DemoraId,FechaFinalizacion,HoraFinalizacion
0,840,2016-11-30 00:00:00.000,2016-11-30 17:26:00.000,2016-11-30 00:00:00.000,2016-11-30 17:26:00.000,25.0,1.0,283.0,0.0,1.201606e+09,0.0,2016-11-30 00:00:00.000,2016-12-30 18:19:00.000
1,841,2016-11-30 00:00:00.000,2016-11-30 17:51:00.000,2016-11-30 00:00:00.000,2016-11-30 17:55:00.000,25.0,7.0,277.0,0.0,1.201606e+09,0.0,2016-11-30 00:00:00.000,2016-12-30 18:20:00.000
2,842,2016-11-30 00:00:00.000,2016-11-30 18:45:00.000,2016-11-30 00:00:00.000,2016-11-30 18:28:00.000,5.0,1.0,128.0,0.0,1.201606e+09,0.0,2016-11-30 00:00:00.000,2016-12-30 18:52:00.000
3,843,2016-11-30 00:00:00.000,2016-11-30 19:30:00.000,2016-11-30 00:00:00.000,2016-11-30 19:04:00.000,5.0,1.0,152.0,0.0,1.201606e+09,0.0,2016-11-30 00:00:00.000,2016-12-30 19:52:00.000
4,844,2016-11-30 00:00:00.000,2016-11-30 19:00:00.000,2016-11-30 00:00:00.000,2016-11-30 18:31:00.000,5.0,1.0,123.0,6.0,1.201606e+09,0.0,2016-11-30 00:00:00.000,2016-11-30 18:55:00.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
43697,44720,2019-12-10 00:00:00.000,2019-12-10 22:00:00.000,2019-12-10 00:00:00.000,2019-12-10 22:34:00.000,5.0,3.0,851.0,0.0,1.201906e+09,0.0,2019-12-10 00:00:00.000,2019-12-10 22:49:35.957
43698,44721,2019-12-11 00:00:00.000,2019-12-11 20:00:00.000,2019-12-10 00:00:00.000,2019-12-10 22:45:00.000,5.0,3.0,295.0,0.0,1.201906e+09,17.0,2019-12-10 00:00:00.000,2019-12-10 23:10:29.793
43699,44722,2019-12-10 00:00:00.000,2019-12-10 22:30:00.000,2019-12-10 00:00:00.000,2019-12-10 23:04:00.000,5.0,3.0,152.0,17.0,1.201906e+09,0.0,2019-12-10 00:00:00.000,2019-12-10 23:19:00.000
43700,44723,2019-12-10 00:00:00.000,2019-12-10 23:00:00.000,2019-12-10 00:00:00.000,2019-12-10 23:17:00.000,5.0,3.0,170.0,0.0,1.201906e+09,0.0,2019-12-10 00:00:00.000,2019-12-10 23:30:38.063
43701,44724,2019-12-10 00:00:00.000,2019-12-10 23:30:00.000,2019-12-10 00:00:00.000,2019-12-10 23:33:00.000,5.0,3.0,2139.0,0.0,1.201906e+09,0.0,0,0

In [61]:
VAL_movimiento.SentidoId=VAL_movimiento.SentidoId.apply(lambda e: str(e) )

In [62]:
VAL_movimiento.dtypes

MovimientoId          object
FechaPeticion         object
HoraPeticion          object
FechaServicio         object
HoraServicio          object
VientoVelocidad      float64
SentidoId             object
BuqueId               object
BuqueExentoId        float64
Escala               float64
DemoraId             float64
FechaFinalizacion     object
HoraFinalizacion      object
dtype: object

In [63]:
len(list([type(e) for e in VAL_movimiento.SentidoId if type(e)==str]))

43702

In [64]:
VAL_movimiento.HoraServicio

0        2016-11-30 17:26:00.000
1        2016-11-30 17:55:00.000
2        2016-11-30 18:28:00.000
3        2016-11-30 19:04:00.000
4        2016-11-30 18:31:00.000
                  ...
43697    2019-12-10 22:34:00.000
43698    2019-12-10 22:45:00.000
43699    2019-12-10 23:04:00.000
43700    2019-12-10 23:17:00.000
43701    2019-12-10 23:33:00.000
Name: HoraServicio, Length: 43702, dtype: object

In [65]:
VAL_movimiento.HoraServicio.iloc[0]

'2016-11-30 17:26:00.000'

In [66]:
VAL_movimiento.HoraServicio=VAL_movimiento.HoraServicio.apply(lambda e: str(e) )

In [67]:
print(type(VAL_movimiento.HoraServicio.iloc[1]))

<class 'str'>

In [68]:
VAL_movimiento.HoraServicio.iloc[1]

'2016-11-30 17:55:00.000'

In [69]:
import datetime as dt
import pytz

date_time_str = VAL_movimiento.HoraServicio.iloc[400]

date_time_obj = dt.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f')
#"%Y-%m-%dT%H:%M:%SZ

In [70]:
date_time_obj 
print('Date:', date_time_obj.date())
print('Time:', date_time_obj.time())
print('Date-time:', date_time_obj)

Date: 2016-12-09
Time: 17:40:00
Date-time: 2016-12-09 17:40:00

In [71]:
VAL_movimiento.HoraServicio.count()

43702

In [79]:
VAL_movimiento.HoraServicio= VAL_movimiento.HoraServicio.apply(lambda e: dt.datetime.strptime(e, '%Y-%m-%d %H:%M:%S.%f'))

TypeError: strptime() argument 1 must be str, not Timestamp

In [73]:
VAL_movimiento.HoraServicio

0       2016-12-09 17:40:00
1       2016-12-09 17:40:00
2       2016-12-09 17:40:00
3       2016-12-09 17:40:00
4       2016-12-09 17:40:00
                ...
43697   2016-12-09 17:40:00
43698   2016-12-09 17:40:00
43699   2016-12-09 17:40:00
43700   2016-12-09 17:40:00
43701   2016-12-09 17:40:00
Name: HoraServicio, Length: 43702, dtype: datetime64[ns]

In [74]:
VAL_movimiento.head()

,MovimientoId,FechaPeticion,HoraPeticion,FechaServicio,HoraServicio,VientoVelocidad,SentidoId,BuqueId,BuqueExentoId,Escala,DemoraId,FechaFinalizacion,HoraFinalizacion
0,840,2016-11-30 00:00:00.000,2016-11-30 17:26:00.000,2016-11-30 00:00:00.000,2016-12-09 17:40:00,25.0,1.0,283.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 18:19:00.000
1,841,2016-11-30 00:00:00.000,2016-11-30 17:51:00.000,2016-11-30 00:00:00.000,2016-12-09 17:40:00,25.0,7.0,277.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 18:20:00.000
2,842,2016-11-30 00:00:00.000,2016-11-30 18:45:00.000,2016-11-30 00:00:00.000,2016-12-09 17:40:00,5.0,1.0,128.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 18:52:00.000
3,843,2016-11-30 00:00:00.000,2016-11-30 19:30:00.000,2016-11-30 00:00:00.000,2016-12-09 17:40:00,5.0,1.0,152.0,NaN,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-12-30 19:52:00.000
4,844,2016-11-30 00:00:00.000,2016-11-30 19:00:00.000,2016-11-30 00:00:00.000,2016-12-09 17:40:00,5.0,1.0,123.0,6.0,1.201606e+09,NaN,2016-11-30 00:00:00.000,2016-11-30 18:55:00.000

In [75]:
#list([type(e) for e in VAL_movimiento.HoraServicio if type(e)==str])

In [76]:
VAL_movimiento.HoraFinalizacion= VAL_movimiento.HoraFinalizacion.apply(lambda e: dt.datetime.strptime(date_time_str, '%Y-%m-%d %H:%M:%S.%f'))

VAL_movimiento.HoraFinalizacion

0       2016-12-09 17:40:00
1       2016-12-09 17:40:00
2       2016-12-09 17:40:00
3       2016-12-09 17:40:00
4       2016-12-09 17:40:00
                ...
43697   2016-12-09 17:40:00
43698   2016-12-09 17:40:00
43699   2016-12-09 17:40:00
43700   2016-12-09 17:40:00
43701   2016-12-09 17:40:00
Name: HoraFinalizacion, Length: 43702, dtype: datetime64[ns]

In [77]:
VAL_movimiento['tiempo_man'] = VAL_movimiento.HoraFinalizacion-VAL_movimiento.HoraServicio

In [78]:
print(VAL_movimiento['tiempo_man']
print('Time:', date_time_obj.time())

SyntaxError: invalid syntax (<ipython-input-78-3219f97291de>, line 2)

In [ ]:
date_time_str = VAL_movimiento.tiempo_man.iloc[400]
date_time_str

In [ ]:
print('Time:', date_time_str.time())