In [1]:
import pandas as pd

In [2]:
LP=pd.read_csv("../output/LPoriginal.csv")
LP.columns

Index(['Unnamed: 0', 'fecha', 'indicativo', 'nombre', 'provincia', 'altitud',
       'tmed', 'prec', 'tmin', 'horatmin', 'tmax', 'horatmax', 'dir',
       'velmedia', 'racha', 'horaracha', 'puerto'],
      dtype='object')

In [3]:
VAL=pd.read_csv("../output/VALoriginal.csv")
VAL.columns

Index(['Unnamed: 0', 'fecha', 'indicativo', 'nombre', 'provincia', 'altitud',
       'tmed', 'prec', 'tmin', 'tmax', 'sol', 'puerto'],
      dtype='object')

In [4]:
LP= LP.drop(['Unnamed: 0','indicativo', 'provincia', 'altitud','horatmin', 'horatmax','dir', 'velmedia', 'racha','horaracha'], axis=1)

In [5]:
LP.head(10)

,fecha,nombre,tmed,prec,tmin,tmax,puerto
0,2016-11-30,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,9","0,0","17,8","26,0",1
1,2016-12-01,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,8","0,0","17,9","25,6",1
2,2016-12-02,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","22,4","0,0","18,8","26,0",1
3,2016-12-03,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","23,7","0,0","20,2","27,2",1
4,2016-12-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,2","2,4","18,1","22,2",1
5,2016-12-05,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,8","0,0","18,9","22,7",1
6,2016-12-06,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","22,0","0,0","18,2","25,8",1
7,2016-12-07,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,4","0,0","18,8","24,1",1
8,2016-12-08,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,3","0,0","18,5","24,1",1
9,2016-12-09,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,5","0,0","19,3","23,7",1

In [6]:
VAL=VAL.drop(['Unnamed: 0', 'indicativo', 'provincia', 'sol', 'altitud'],axis=1)

In [7]:
VAL.columns

Index(['fecha', 'nombre', 'tmed', 'prec', 'tmin', 'tmax', 'puerto'], dtype='object')

In [8]:
LP.columns

Index(['fecha', 'nombre', 'tmed', 'prec', 'tmin', 'tmax', 'puerto'], dtype='object')

In [9]:
LP.isnull().sum()

fecha      0
nombre     0
tmed      18
prec      13
tmin      18
tmax      18
puerto     0
dtype: int64

In [10]:
VAL.isnull().sum()

fecha     0
nombre    0
tmed      0
prec      1
tmin      0
tmax      0
puerto    0
dtype: int64

In [20]:
LP.iloc[94:100]

,fecha,nombre,tmed,prec,tmin,tmax,puerto
94,2017-03-04,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","17,2","0,1","15,2","19,1",1
95,2017-03-05,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL",NaN,"0,0",NaN,NaN,1
96,2017-03-06,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","18,0","0,0","16,8","19,1",1
97,2017-03-07,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","18,3","0,0","16,4","20,2",1
98,2017-03-08,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","21,6","0,0","15,5","27,6",1
99,2017-03-09,"LAS PALMAS DE GRAN CANARIA, SAN CRISTOBAL","20,4","0,0","14,0","26,7",1

In [24]:
LPfill= LP.interpolate(method='linear', limit_direction='forward', axis=1)

TypeError: Cannot interpolate with all object-dtype columns in the DataFrame. Try setting at least one column to a numeric dtype.

In [26]:
LP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 7 columns):
fecha     1081 non-null object
nombre    1081 non-null object
tmed      1063 non-null object
prec      1068 non-null object
tmin      1063 non-null object
tmax      1063 non-null object
puerto    1081 non-null int64
dtypes: int64(1), object(6)
memory usage: 59.2+ KB

In [31]:
cols = ['tmed', 'prec', 'tmin', 'tmax']
LP[cols] = LP[cols].apply(pd.to_numeric, errors='coerce', axis=1)
LP.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1081 entries, 0 to 1080
Data columns (total 7 columns):
fecha     1081 non-null object
nombre    1081 non-null object
tmed      0 non-null float64
prec      0 non-null float64
tmin      0 non-null float64
tmax      0 non-null float64
puerto    1081 non-null int64
dtypes: float64(4), int64(1), object(2)
memory usage: 59.2+ KB